input[type="radio"] {
  appearance: none;
  background-color: #ffffff;
  margin: 0;
  font: inherit;
  color: #0284c7;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid e5e7eb;
  border-radius: 50%;
	margin-right: 2px;
}

input[type="radio"]:focus {
	--tw-ring-color: #0284c7;
}